<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <div align="center"><img src="logo.png" height="100" width="200" /></div>
            <p:menubar>
                <p:submenu label="Customer">
                    <p:menuitem value="Data Customer" outcome="/admin/dataCustomer.xhtml"/>
                </p:submenu>
                <p:submenu label="Barang">
                    <p:menuitem value="Data Barang" outcome="/admin/dataBarang.xhtml"/>
                    <p:menuitem value="Kategori" outcome="/admin/dataKategori.xhtml"/>
                </p:submenu>
                <p:submenu label="Order">
                    <p:menuitem value="Data Order" outcome="/admin/dataOrder.xhtml"/>
                </p:submenu>
                <f:facet name="options">
                    <p:commandButton value="Logout" action="/index.xhtml?faces-redirect=true"/>
                </f:facet>
            </p:menubar>
        </h:form>

        <h:form id="input">
            <!--            Menu barang-->
            <p:panel header="Input Data Barang" style="background-color: orange;">               
                <h:panelGrid columns="2" style="border: 0" headerClass="header" cellpadding="5">
                    Kategori <h:panelGroup> <p:selectOneMenu value="#{barangBean.idKategori}">
                            <f:selectItems value="#{kategoriBean.kategoriList}" var="kategori" 
                                           itemValue="#{kategori.idKategori}" 
                                           itemLabel="#{kategori.namaKategori}"/>
                        </p:selectOneMenu></h:panelGroup>
                    Nama Barang <p:inputText value="#{barangBean.namaBarang}" required="true" requiredMessage="Nama Barang harus diisi!"/>
                    Harga <p:inputText value="#{barangBean.harga}" required="true" requiredMessage="Harga harus diisi!" converterMessage="Harga harus angka!"></p:inputText>
                    Stok <p:spinner size="18" value="#{barangBean.stok}" min="1"/>
                    <p:commandButton value="Tambah Data Barang" action="#{barangBean.addBarang()}" update="table"/>
                    <p:commandButton value="Edit " type="button" onclick="PF('dlg1').show();" />
                </h:panelGrid>
            </p:panel> <br/>
        </h:form>
        
        <h:form id="upd">
                <p:dialog header="Edit Barang" widgetVar="dlg1" minHeight="40">
                    <h:panelGrid columns="2">
                        ID barang <h:panelGroup>: <p:inputText value="#{barangBean.barang.idBarang}" disabled="true"/></h:panelGroup>
                        Kategori <h:panelGroup>: <p:selectOneMenu value="#{barangBean.idKategoriUp}" required="true"
                                                                  requiredMessage="Kategori harus dipilih">
                                <f:selectItem itemValue="#{null}" itemLabel="--select--" noSelectionOption="true" />
                                <f:selectItems value="#{kategoriBean.kategoriList}" var="kategori" 
                                               itemValue="#{kategori.idKategori}" 
                                               itemLabel="#{kategori.namaKategori}"/>
                            </p:selectOneMenu></h:panelGroup>
                        Nama Barang <h:panelGroup>: <p:inputText value="#{barangBean.barang.namaBarang}" 
                                                                 required="true" 
                                                                 requiredMessage="Nama Barang harus di isi"/></h:panelGroup>
                        Harga <h:panelGroup>: <p:inputText value="#{barangBean.barang.harga}" required="true" 
                                                                requiredMessage="Harga Jual harus di isi"
                                                                converterMessage="Harga Jual Harus Angka"> 
                                <f:convertNumber integerOnly="true" type="number"/></p:inputText> </h:panelGroup>
                        Stok <h:panelGroup>: <p:spinner value="#{barangBean.barang.stok}" size="2" min="1"/></h:panelGroup>
                        <h:commandButton value="Save" action="#{barangBean.updateBarang()}"/>
                    </h:panelGrid>
                </p:dialog>
            </h:form>

        <h:form id="table">
            <p:growl id="msgs"/>
            <!--            Tabel barang-->
            <p:panel header="Tabel Data Barang" style="background-color: orange;">
                <p:dataTable editable="true" var="item" value="#{barangBean.barangList}" 
                             selection="#{barangBean.barang}" selectionMode="single" 
                             rowKey="#{item.idBarang}">
                    <p:ajax event="rowSelect" update=":upd" />
                    <p:ajax event="rowUnselect" update=":upd" />
                    <p:column headerText="ID Barang">
                        #{item.idBarang}
                    </p:column>
                    <p:column headerText="Kategori">
                        #{item.idKategori.namaKategori}
                    </p:column>
                    <p:column headerText="Nama Barang">
                        #{item.namaBarang}
                    </p:column>
                    <p:column headerText="Harga Barang">
                        #{item.harga}
                    </p:column>
                    <p:column headerText="Stok">
                        #{item.stok}
                    </p:column>
                    <p:column headerText="Delete">
                        <p:commandLink value="Hapus" action="#{barangBean.deleteBarang(item)}" style="color: red;" update="@form">
                            <p:confirm header="Konfirmasi Hapus Barang" message="Hapus Barang?"/></p:commandLink>
                    </p:column>
                </p:dataTable>
            </p:panel>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Ya" type="button" styleClass="ui-confirmdialog-yes" />
                <p:commandButton value="Tidak" type="button" styleClass="ui-confirmdialog-no" />
            </p:confirmDialog>  
        </h:form>


    </h:body>
</html>

