<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Data Kategori</title>
    </h:head>
    <h:body>
        <h:form>
            <div align="center"><img src="logo.png" height="100" width="200" /></div>
            <p:menubar>
                <p:submenu label="Customer">
                    <p:menuitem value="Data Customer" outcome="/admin/dataCustomer.xhtml"/>
                </p:submenu>
                <p:submenu label="Barang">
                    <p:menuitem value="Data Barang" outcome="/admin/dataBarang.xhtml"/>
                    <p:menuitem value="Kategori" outcome="/admin/dataKategori.xhtml"/>
                </p:submenu>
                <p:submenu label="Order">
                    <p:menuitem value="Data Order" outcome="/admin/dataOrder.xhtml"/>
                </p:submenu>
                <f:facet name="options">
                    <p:commandButton value="Logout" action="/index.xhtml?faces-redirect=true"/>
                </f:facet>
            </p:menubar>
        </h:form>

        <h:form id="input">
            <p:panel header="Input Data Kategori" style="background-color: orange;">               
                <h:panelGrid columns="2" style="border: 0" headerClass="header" cellpadding="3">
                    Nama Kategori <p:inputText size="19" value="#{kategoriBean.namaKategori}" required="true" requiredMessage="Nama Kategori harus diisi!"/>
                    <br/><p:commandButton value="Tambah Data Kategori" action="#{kategoriBean.addKategori()}" update="input table" />
                    <h:outputText/><p:commandButton value="Edit " type="button" onclick="PF('dlg1').show();" />
                </h:panelGrid>
            </p:panel> <br/>
        </h:form>

        <h:form id="upd">
            <p:dialog header="Edit Kategori" widgetVar="dlg1" minHeight="40">
                <h:panelGrid columns="2">
                    ID Kategori <h:panelGroup>: <p:inputText value="#{kategoriBean.kategori.idKategori}" 
                                                             disabled="true"/></h:panelGroup>
                    Nama Kategori <h:panelGroup>: <p:inputText value="#{kategoriBean.kategori.namaKategori}" 
                                                               required="true" 
                                                               requiredMessage="Nama Kategori Barang harus di isi"/></h:panelGroup>

                    <h:commandButton value="Save" action="#{kategoriBean.updateKategori()}"/>
                </h:panelGrid>
            </p:dialog>
        </h:form>


        <h:form id="table">
            <p:panel header="Tabel Data Kategori" style="background-color: orange;">
                <p:growl id="msgs"/>
                <p:dataTable value="#{kategoriBean.kategoriList}" var="kat" 
                             styleClass="ui-datatable ui-datatable-header" editable="true"
                             selection="#{kategoriBean.kategori}" selectionMode="single" 
                             rowKey="#{kat.idKategori}">
                    <p:ajax event="rowSelect" update=":upd" />
                    <p:ajax event="rowUnselect" update=":upd" />
                    <p:column headerText="ID Kategori">
                        #{kat.idKategori}
                    </p:column>
                    <p:column headerText="Nama Kategori">
                        #{kat.namaKategori}
                    </p:column>
                    <p:column headerText="Delete">
                        <p:commandLink value="Hapus" action="#{kategoriBean.deleteKategori(kat)}" style="color: red;" update="@form"><p:confirm header="Konfirmasi Hapus Kategori" message="Hapus Kategori?"/></p:commandLink>
                    </p:column>
                </p:dataTable>
            </p:panel>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Ya" type="button" styleClass="ui-confirmdialog-yes" />
                <p:commandButton value="Tidak" type="button" styleClass="ui-confirmdialog-no" />
            </p:confirmDialog>   
        </h:form>
    </h:body>
</html>

